@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProductsListViewModel 

<h1>Shop</h1>

<div class="row m-1 p1">
    <div class="col-3">
        <vc:product-primary-colors />
    </div>
    <div class="row">
        @foreach (var item in Model.Products)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="@item.img_link" alt="@item.name">
                    <div class="card-body">
                        <p class="card-text">
                            <a asp-controller="Product" asp-action="Item" asp-route-id="@item.product_ID">@item.name</a> - $@Html.DisplayFor(modelItem => item.price)
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <form asp-controller="Cart" asp-action="AddToCart" method="post">
                                <input type="hidden" name="productId" value="@item.product_ID" />
                                <input type="hidden" name="quantity" value="1" />
                                <!-- Correctly include the full URL as the returnUrl -->
                                <input type="hidden" name="returnUrl" value="@Context.Request.Path@Context.Request.QueryString" />
                                <button type="button" class="btn btn-primary add-to-cart" data-product-id="@item.product_ID">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div page-model="@Model.PaginationInfo" page-action="Product" page-classes-enabled="true" page-class="btn" 
    page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group"></div>
